img, video {
  box-shadow: 4px 4px 20px 0px #ccc;
}
.content img {
  cursor: pointer;
}
.home .feature {
  flex-basis: 25%;
}
.theme-container .navbar {
  border: none
}

.home-link {
  img {
    box-shadow: none;
    min-width: 102px !important;
  }
}

$accentColor = #0092FA // 主题色
$textColor = #2c3e50 // 文字颜色
$borderColor = #eaecef // 边框颜色
$codeBgColor = #282c34 // 代码背景颜色